.header {
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--mantine-color-gray-2);
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.logoicon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  color: inherit;
}

.nav {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

.linkactive {
  color: var(--mantine-color-indigo-7);
  font-weight: bold;
  border-bottom: 2px solid var(--mantine-color-indigo-7);
  text-decoration: none;
}

.nav .link:hover {
  color: var(--mantine-color-indigo-7);
}

.active {
  font-weight: bold;
}

.link:visited {
  text-decoration: none;
  color: inherit;
}
