.header {
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--mantine-color-gray-2);
  box-sizing: border-box;
}

.logo,
.logo:visited {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.logo:hover {
  color: var(--mantine-color-indigo-7);
}

.logo .logoicon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  color: inherit;
}

.nav {
  display: flex;
  gap: 1rem;
}

.nav .link,
.nav .link:visited {
  color: inherit;
  text-decoration: none;
}

.nav .linkactive {
  /* color: var(--mantine-color-indigo-7); */
  font-weight: bold;
  border-bottom: 2px solid var(--mantine-color-indigo-7);
  text-decoration: none;
}

.nav .link:hover {
  color: var(--mantine-color-indigo-7);
}

.drawerNav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.drawerNav .link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.drawerNav .link:hover,
.drawerNav .link:focus {
  background-color: var(--mantine-color-gray-2);
  color: var(--mantine-color-indigo-7);
}
