# .env.dev

# JWTs
JWT_SECRET=default-jwt-secret
REFRESH_SECRET=default-refresh-secret

# SPRING BOOT SERVER
SPRING_PROFILES_ACTIVE=development
SPRING_DATASOURCE_URL=jdbc:postgresql://database-sql:5432/crm_app_db_dev
SPRING_DATASOURCE_USERNAME=postgres 
SPRING_DATASOURCE_PASSWORD=yourpasword 
SPRING_JPA_HIBERNATE_DDL_AUTO=validate

