:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;

  --hover-light-mode-bg: var(--mantine-color-blue-2);
  --hover-light-mode-text: var(--mantine-color-dark-9);

  --hover-dark-mode-bg: var(--mantine-color-blue-5);
  --hover-dark-mode-text: var(--mantine-color-gray-9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --hover-bg: var(--hover-dark-mode-bg);
    --hover-text: var(--hover-dark-mode-text);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --hover-bg: var(--hover-light-mode-bg);
    --hover-text: var(--hover-light-mode-text);
  }
}

/* :root[data-mantine-color-scheme="dark"] body {
  --mantine-color-body: green;
} */

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

h1,
h2 {
  padding: 1rem 0rem;
}

h3 {
  padding: 0.75rem 0rem;
}

.tablerow {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Hover effect */
.tablerow:hover {
  background: var(--mantine-color-indigo-2);
  color: var(--hover-text);
  font-weight: bold;
}

/* Apply same color when a row is selected */
.tablerow.selected {
  background: var(--mantine-color-indigo-1) !important;
  color: var(--hover-text);
  font-weight: bold;
}
